.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px auto;
    padding: 20px;
    max-width: 18rem;
  }
  .card-success{
    background-color: #87e4ae;
  }
  .card-success .card-text{
    text-decoration: line-through;
    background-color: #87e4ae;
  }
  .card-success .card-title{
    text-decoration: line-through;
    background-color: #87e4ae;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  .button-container{
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
  }
  .card .btn {
    padding: 3px 10px;
    font-size: 1rem;
    border-radius: 15px;
    width: 45%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .card .btn:hover {
    transform: scale(1.05);
  }
  
  .card .btn-warning {
    background-color: #2ecc71;
    color: white;
    border: none;
  }
  
  .card .btn-success {
    background-color: #f39c12; 
    color: white;
    border: none;
  }
  .card .btn-delete {
    background-color: salmon; 
    color: white;
    border: none;
  }
  
  .card .btn-warning:hover {
    background-color: #27ae60; 
  }
  
  .card .btn-success:hover {
    background-color: #e67e22; 
  }
  